.template {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    margin: 0 auto; 
    margin-top: 20px;
    height: 100%; 
    margin-bottom: 20px;
  }

  .form-wrapper {
    padding-right: 10px;
    padding-left: 10px;  
    padding-bottom: 10px;
  }

