.template {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    margin: 0 auto; 
    margin-top: 20px;
    height: 720px; 
    margin-bottom: 20px;
  }

  .form-wrapper {
    padding-right: 10px;
    padding-left: 10px;  
  }

  .fixed {
    /* padding-right: 10px;
    padding-left: 10px;   */
    height: 545px; 
    overflow: auto;
  }

